exportPattern("^[[:alpha:]]+")
useDynLib(wtcrsk)
export(crr.wt)
export(predict.crrwt)
export(summary.crrwt)
S3method(print,crrwt)
S3method(summary,crrwt)
S3method(predict,crrwt)
S3method(plot,crrwt.pred)
importFrom("graphics", "legend", "par", "plot", "points")
importFrom("stats", "model.extract", "model.frame", "model.matrix", "pnorm", "qnorm", "terms")